CompileFlags:
  CompilationDatabase: build
  Add: [-Wno-unknown-warning-option]

Diagnostics:
  UnusedIncludes: Strict

---
If:
  PathMatch: [build/.*, \.deps/.*, third_party/.*]
Diagnostics:
  Suppress: ["*"]
Index:
  Background: Skip
